@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300;400;500;600;700');


/*---------------------------------------------- Colours */
.bg-color-name-title {
    background-color: black;
}

.ui-menu-color-home {
    background-color: #000000;
    color: #808080;
}

.ui-menu-color-film {
    background-color: #000000;
    color: #808080;
}

.ui-menu-color-contact {
    background-color: #000000;
    color: #808080;
}

.ui-menu-color-cv {
    background-color: #000000;
    color: #808080;
}

/*---------------------------------------------- sp paddings/margins/texts */

h1,
h2,
h3,
h4 {
    margin: 0;
}

.uppercase {
    text-transform: uppercase;
}

.general-sub {
    font-family: 'Josefin Sans',
        sans-serif;
    font-weight: 300;
    color: #808080;
}

.inline-block {
    display: inline-block;
}

/*---------------------------------------------- Heading */
Header {
    margin: 0;

}

.heading {
    margin-left: 25px;
}

.logo {
    background: url("../images/main.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 310px;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
}

.name {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
    font-size: 46px;
    margin-top: 25px;
    color: #808080;
}

.title {
    font-family: 'Josefin Sans',
        sans-serif;
    font-weight: 200;
    font-size: 28px;
    margin-top: 10px;
    margin-bottom: 90px;
    color: #808080;
}

.list-inline-item:not(:last-child) {
    margin: 0;
}

.menucontainer {
    font-size: 0;
}

#nav li {
    font-size: 14px;
    padding: 0;
}

#nav {
    margin: 0;
}

.menuitem {
    height: 120px;
    text-align: center;
    padding: 0;
}

.menuitem a {
    width: 100%;
    text-decoration: none;
    color: #808080;
    height: 120px;
}

.menuitem a i {
    padding-top: 22px;
    display: block;
    color: #808080;
    font-size: 26px;
}

.menuitem span {
    display: block;
    width: 100%;
    padding-top: 5px;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 2px;
}

/*---------------------------------------------- Hover.css */

.hvr-shutter-out-horizontal:before {
    background: #808080;
    height: 120px;
}

.hvr-shutter-out-horizontal {
    background: #000000;
}

/*---------------------------------------------- Footer */

footer {
    background-color: #000000;
    color: #808080;
    min-height: 120px;
    margin: 0;
}

.cv-pdf i {
    font-size: 18px;
    color: #808080;
    text-align: center;
    padding-left: 5px;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.cv-pdf i:hover {
    color: aliceblue;

}